<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/list-view"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loadedlocation">location- {{loadedlocation.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="picker" >
          <div class="pickerx">
            <ion-img class="location-image" [src]="selectedLocationImage"></ion-img>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>