.nopadding {
    padding: 0px !important;
  }
  
  .textcenter {
    text-align: center !important;
  }
  .marginbottom {
    margin-bottom: 2px !important;
  }
  
  .nomargin{
    margin: 0px !important;
  }
  
  .nopadding.textcenter {
    padding: 0px !important;
    text-align: center !important;
  
  }

  .nopadding.textcenter.nomargin {
    padding: 0px !important;
    text-align: center !important;
    margin: 0px !important;
  }