<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar showCancelButton="focus"></ion-searchbar>

        <!-- This is an item containing the lecture details -->
        <ion-list>
          <!-- for loop to draw the list from the array -->

          <ion-item-sliding *ngFor="let completetask of loadedcompletedtask; let i = index" #slidingItem>

            <ion-item [routerLink]="['/', 'home', 'tabs', 'tasks', 'edit', completetask._id]" detail>



              <ion-label>
                <p class="pb title">{{ completetask.title }}</p>

                <div class="task-details" class="pb">
                  <ion-icon name="link" color="primary" class="pt"></ion-icon>
                  <p class="space-left">{{ loadedmodules[i].name }}</p>
                </div>
                <div class="task-details" class="pbs">
                  <ion-icon color="primary" name="calendar" class="pt"></ion-icon>
                  <p class="space-left"> {{ completetask.due_date_time | momentPipe: "ddd DD MMM YYYY hh:mm a" }}</p>
                </div>
              </ion-label>
            </ion-item>

            <ion-item-options>


              <ion-item-option color="success" (click)="NotComplete(completetask, slidingItem)">
                <ion-icon name="checkmark-circle-outline" slot="top" class="icon"></ion-icon>
                Incompleted
              </ion-item-option>
              <ion-item-option color="warning" (click)="Flag(completetask, slidingItem)">
                <ion-icon name="flag" slot="top" class="icon"></ion-icon>
                Flag
              </ion-item-option>
              <ion-item-option color="danger" (click)="onDelete(completetask._id, slidingItem)">
                <ion-icon name="trash" slot="top" class="icon"></ion-icon>
                Delete
              </ion-item-option>

            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="nocompletedtasks === true">
      <ion-col size-sm="12" offset-sm="3" class="nomargin">
        <h1 class="textcenter">There are no Completed Tasks</h1>
        <p class="textcenter">Would you like to go to In progress Tasks?</p>
        <ion-row>


          <ion-col class="nopadding textcenter " [routerLink]="['/', 'home', 'tabs', 'tasks', 'all-tasks']">
            <ion-label>In Progress</ion-label>
            <br>
            <ion-button>
              <ion-icon name="albums"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>