<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" color="primary">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>February 2020</ion-title>

    <ion-buttons slot="end">
      <ion-button href="/home/tabs/list-view/details" slot="icon-only" color="primary">
        <ion-icon name="book"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
   <!--To view the days of the week-->
  <ion-toolbar>
    
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding" class="ion-no-padding" class="ion-text-center">
          <p>Mon</p>
          <ion-button shape="round">1</ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Tue</p>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Wed</p>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Thur</p>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Fri</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
<!--This is a card containing the lecture details-->
<ion-grid class="ion-no-padding">
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-list class="ion-no-padding">
        <!-- for loop to draw the list from the array-->
        <ion-card *ngFor="let home of list" [routerLink]="['/', 'home', 'tabs', 'list-view', home.id]">
          <ion-grid class="ion-no-padding">
  
            <ion-row class="ion-no-padding">
  
              <ion-col class="ion-no-padding" text-center size="3" >
                <ion-row>
  
                  <ion-col size="12" class="ion-padding-top">
                    <p>{{home.start}}</p>
                  </ion-col>
  
                  <ion-col size="12" class="ion-no-padding">
                    <p>{{home.end}}</p>
                  </ion-col>
  
                </ion-row>
              </ion-col>
  
              <ion-col >
                <p>{{home.title}}</p>
                <p>{{home.type}}</p>
  
              </ion-col>
  
            </ion-row>
          </ion-grid>
        </ion-card>
  
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>