<ion-header>
  <ion-toolbar>
    <ion-title>list-view</ion-title>
    <!--To view the days of the week-->
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding" class="ion-no-padding" class="ion-text-center">
          <p>Mon</p>
          <ion-button shape="round">1</ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Tue</p>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Wed</p>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Thur</p>
        </ion-col>
        <ion-col class="ion-no-padding" class="ion-text-center">
          <p>Fri</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
