<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/notes"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-centre">new-notes</ion-title>

    <ion-buttons slot="primary">
      <ion-button  [disabled]="!form.valid" (click)="onCreateNote()" type="submit">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

 
<ion-content>
  <form [formGroup]="form">
    <ion-grid>
 
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('title').valid && form.get('title').touched">
        <ion-col size-sm="6" offset-sm="3" >
          <P>Title must have 1 or more characters</P>
        </ion-col>
      </ion-row>

       <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Module</ion-label>
            <ion-select placeholder="Select One" autocomplete autocorrect formControlName="module"> 
              <ion-select-option value="blank">-</ion-select-option>
              <ion-select-option value="Software Engineering">Software Engineering</ion-select-option>
              <ion-select-option value="HCI">HCI</ion-select-option>
              <ion-select-option value="Games and Design">Games and Design</ion-select-option>
              <ion-select-option value="Artificial Intelligence">Artificial Intelligence</ion-select-option>
              <ion-select-option value="Cyber Security">Cyber Security</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('module').valid && form.get('module').touched">
        <ion-col size-sm="6" offset-sm="3">
          <P>Pick a module or blank</P>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item> 
            <ion-label position="floating">Short Descripton</ion-label>
            <ion-textarea rows="6" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col size-sm="6" offset-sm="3">
          <P>Description must be between 1 and 180 chracters</P>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>