<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/list-view"></ion-back-button>
    </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <p>Student Id- {{loadedclass[0].id}}</p>
          </ion-col>
          <ion-col size-sm="6" offset-sm="3">
            <p>Course- {{loadedclass[0].title}}</p>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <form [formGroup]="form">
          <ion-grid>

            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item>
                  <ion-label position="floating">Module</ion-label>
                  <ion-select placeholder="Select a Module" autocomplete autocorrect formControlName="module">
                    <ion-select-option value="blank">-</ion-select-option>
                    <ion-item *ngFor="let class of loadedclass">
                      <ion-select-option value="{{class.title}}">{{class.title}}</ion-select-option>
                    </ion-item>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!form.get('module').valid && form.get('module').touched">
              <ion-col size-sm="6" offset-sm="3">
                <P>Pick a module or blank</P>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item>
                  <ion-label position="floating">Week</ion-label>
                  <ion-select class="max" placeholder="Select a Week" autocomplete autocorrect formControlName="week">
                    <ion-select-option value="blank" class="max">-</ion-select-option>
                    <ion-select-option value="Week 1">Week 1 (9/Mar/2020) - (15/Mar/2020)</ion-select-option>
                    <ion-select-option value="Week 2">Week 2 (16/Mar/2020) - (22/Mar/2020)</ion-select-option>
                    <ion-select-option value="Week 3">Week 3 (23/Mar/2020) - (29/Mar/2020)</ion-select-option>
                    <ion-select-option value="Week 4">Week 4 (30/Mar/2020) - (5/Mar/2020)</ion-select-option>
                    <ion-select-option value="Week 5">Week 5 (6/Mar/2020) - (12/Mar/2020)</ion-select-option>
                    <ion-select-option value="Week 6">Week 6 (13/Mar/2020) - (19/Mar/2020)</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!form.get('week').valid && form.get('week').touched">
              <ion-col size-sm="6" offset-sm="3">
                <P>Pick a module or blank</P>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-button type="submit" color="primary" expand="block" [disabled]="!form.valid" (click)="submit()">
                  Search
                </ion-button>
              </ion-col>
            </ion-row>



          </ion-grid>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>