<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tabs>
      <ion-tab-bar slot="bottom"  color="primary">

        <ion-tab-button tab="list-view">
          <ion-label>Timetable</ion-label>
          <ion-icon name="calendar"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="notes">
          <ion-label>Notes</ion-label>
          <ion-icon name="journal"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tasks" >
          <ion-label>Tasks</ion-label>
          <ion-icon name="checkbox-outline" ></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="more"> 
          <ion-label>More</ion-label>
          <ion-icon name="more"></ion-icon>
        </ion-tab-button>


      </ion-tab-bar>
    </ion-tabs>
  </ion-tabs>
</ion-content>
